.logotypes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-block: var(--margin-block);
}

.logosContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.logo {
    transition: transform 0.3s ease;
    cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
    .logo:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 1024px) {
    .logotypes {
        padding-block: 24px;
    }

    .logosContainer {
        gap: 24px;
    }
}
