.logotypes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-block: 32px;
}

.logosContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

@media (max-width: 1024px) {
    .logotypes {
        padding-block: 24px;
    }

    .logosContainer {
        gap: 24px;
    }
}