.button {
    border-radius: 100px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    font-family: var(--font-heading);
    line-height: 150%;
    color: var(--color-light);

    transition: background-color 0.4s ease, color 0.25s ease,
        box-shadow 0.4s ease;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* colors */
.null {
    background: var(--color-light);
    color: black;
    border: var(--border-dark);
    background-color: var(--color-light);
}

.blue {
    background: var(--color-blue);
}

.red {
    background: hsla(0, 100%, 60%, 1);
}

/* sizes */
.small {
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
}

.large {
    padding: 20px 40px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0%;
}

@media (hover: hover) and (pointer: fine) {
    .null:hover:not(:disabled) {
        background-color: var(--color-hover-light);
        border-color: var(--color-blue);
        color: var(--color-blue);
        box-shadow: 0 6px 16px rgba(67, 74, 255, 0.12);
    }

    .blue:hover:not(:disabled) {
        background: hsla(238, 96%, 54%, 1);
        box-shadow: 0 0 20px 10px rgba(67, 74, 255, 0.45);
    }

    .red:hover:not(:disabled) {
        background: hsla(0, 80%, 42%, 1);
        box-shadow: 0 12px 32px rgba(180, 20, 20, 0.45);
    }
}

@media (max-width: 1024px) {
    .small {
        padding-inline: 10px;
    }
}

@media (max-width: 768px) {
    .small {
        padding-inline: 24px;
    }
}

@media (max-width: 360px) {
    .large {
        padding-inline: 30px;
    }
}
