.insightsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 72px;
    gap: 48px;
}

.head {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleBlock {
    display: flex;
    align-items: center;
    column-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.description {
    max-width: 520px;
    text-align: center;
}

.insights {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
}

.trending {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-block: 24px 16px;
}

.category {
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--color-dark);

    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.text {
    max-width: 416px;
}

@media (max-width: 1224px) {
    .insightsSection {
        padding-block: 36px;
    }

    .insights {
        flex-wrap: wrap;
        gap: 32px;
    }

    .card {
        min-width: 460px;
    }
}

@media (max-width: 576px) {
    .insightsSection {
        gap: 0;
    }

    .insights {
        margin-block: 48px 32px;
    }

    .card {
        min-width: 0;
        width: 100%;
        align-items: center;
    }

    .trending {
        align-self: start;
    }
}