.insightsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: var(--margin-block);
    gap: 48px;
}

.head {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleBlock {
    display: flex;
    align-items: center;
    column-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.description {
    max-width: 520px;
    text-align: center;
}

@media (max-width: 576px) {
    .insightsSection {
        gap: 0;
    }

    .insights {
        margin-block: 48px 32px;
    }

    .card {
        min-width: 0;
        width: 100%;
        align-items: center;
    }

    .trending {
        align-self: start;
    }
}