.insightsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 72px;
    gap: 48px;
}

.head {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleBlock {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.description {
    max-width: 520px;
    text-align: center;
}

.insights {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
}

.trending {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-block: 24px 16px;
}

.category {
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--color-dark);

    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.text {
    max-width: 416px;
}