.page {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    max-width: 500px;
    width: 100%;
}

.title {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -1%;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .title {
        font-weight: 600;
        font-size: 60px;
    }
}