.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    gap: 16px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.card:hover {
    box-shadow:
    0 20px 45px rgba(0, 0, 0, 0.12),
    0 8px 20px rgba(0, 0, 0, 0.08);
  transform: translateY(-4px);
}

.image {
    border-radius: 24px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
    width: fit-content;
    align-self: start;
}

.category {
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--color-dark);

    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}
