.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-large);
    gap: 16px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.card:hover {
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12), 0 8px 20px rgba(0, 0, 0, 0.08);
    transform: translateY(-4px);
}

.imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 460 / 300;
    overflow: hidden;
    border-radius: var(--border-radius-average);
}

.image {
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
    width: fit-content;
    align-self: start;
}

.category {
    padding: 4px 8px;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-dark);

    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

@media (max-width: 768px) {
    .card {
        align-items: start;
    }
}