.servicesSection {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-block: 48px;
}

.titleBlock {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.color {
    color: var(--color-dark);
}

.titleImg {
    border-radius: 48px;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-dark);
    border-radius: var(--border-radius-large);
    padding: 32px;
    flex: 1;
}

.description {
    color: var(--color-dark);
    margin-bottom: 24px;
    font-weight: 400;
}

.quote {
    font-weight: 400;
    color: var(--color-dark);
}