.servicesSection {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-block: var(--margin-block);
}

.titleBlock {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.color {
    color: var(--color-dark);
}

.titleImg {
    border-radius: 48px;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--border-dark);
    border-radius: var(--border-radius-large);
    padding: 32px;
    flex: 1;
}

.description {
    color: var(--color-dark);
    margin-bottom: 24px;
    font-weight: 400;
}

.quote {
    font-weight: 400;
    color: var(--color-dark);
}

@media (max-width: 1024px ) {
    .services {
        flex-wrap: wrap;
    }

    .card {
        min-width: 400px;
    }
}

@media (max-width: 768px ) {
    .servicesSection {
        gap: 24px;
    }
    .services {
        flex-direction: column;
        align-items: center;
    }

    .card {
        min-width: 0;
        max-width: 500px;
        width: 100%;
        text-align: center;
    }
}