.heroSection {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-block: var(--margin-block);
    color: var(--color-light);
    margin: 0 auto;
}

.infoBlock {
    flex: 1;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 72px 32px;
    padding-bottom: 52px;
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
}

.title {
    z-index: 1;
}

.coworkWrapper {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.coworkWrapper::after {
    content: '';
    position: absolute;
    left: 48%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 120%;
    height: 132px;

    background-image: url('/circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    z-index: -1;
    pointer-events: none;
}

.claim {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rocket {
    max-width: 360px;
    position: relative;
}

.rocket::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 200px;
    background-color: hsla(0, 0%, 85%, 1);
    top: -12px;
    left: 0;
}

@media (max-width: 1280px) {
    .heroSection {
        align-items: center;
    }

    .infoBlock {
        height: 100%;
        gap: 48px;
    }

    .title {
        font-size: 72px;
    }

    .coworkWrapper::after {
        height: 96px;
        left: 45%;
    }

    .claim {
        flex-direction: column;
        gap: 48px;
    }

    .rocket {
        order: -1;
    }
}

@media (max-width: 1024px) {
    .heroSection {
        flex-direction: column;
    }

    .img {
        display: none;
    }
}

@media (max-width: 768px) {
    .infoBlock {
        padding: 32px 24px;
        gap: 72px;
    }

    .img {
        display: block;
        width: auto;
        aspect-ratio: auto;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 32px;
    }

    .coworkWrapper::after {
        height: 49px;
        bottom: -4px;
        width: 190px;
    }
}
