.wrapper {
    position: relative;
    width: 100%;
}

.input {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: var(--font-heading);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: var(--color-light);
    box-sizing: border-box;
    padding: 12px;
    border-bottom: var(--border-light);
    width: 100%;
    transition: border-color 0.25s ease;
    cursor: pointer;
}

.input:focus,
.input:focus-visible,
.textarea:focus,
.textarea:focus-visible {
    cursor: text;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.textarea:-webkit-autofill {
    -webkit-text-fill-color: var(--color-light);
    -webkit-box-shadow: 0 0 0 1000px var(--color-dark) inset; 
    box-shadow: 0 0 0 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.textarea {
    resize: none;
    min-height: 160px;
    height: 100%;
    cursor: pointer;
}

.label {
    position: absolute;
    left: 12px;
    top: 16px;

    font-family: var(--font-heading);
    color: var(--color-label);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    pointer-events: none;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.input:focus + .label,
.filled {
    opacity: 0;
    transform: translateY(-4px);
}

.required {
    color: #ff4d4f;
}

.error {
    border-bottom: 1px solid #ff4d4f;
}