.FAQsection {
    --base-height: 704px;
    --answer-height: 112px;

    display: flex;
    gap: 16px;
    padding-block: var(--margin-block);
    align-items: stretch;

    min-height: --base-height;
}

.quote {
    max-width: 460px;
    display: flex;
    flex-direction: column;
}

.quote p {
    margin-top: auto;
    max-width: 390px;
}

.acordionBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}

@media (max-width: 1024px) {
    .FAQsection {
        flex-direction: column;
        gap: 32px;
    }

    .quote {
        align-items: center;
        text-align: center;
        align-self: center;
    }
}

@media (max-width: 576px) {
    .quote {
        align-items: start;
        text-align: start;
        align-self: start;
    }
}