.reviewsSection {
    margin-block: var(--margin-block);
    padding: 72px 32px;
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: var(--border-radius-large);
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.reviewsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.title {
    max-width: 680px;
}

.subtitle {
    position: relative;
}

.subtitle::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 200px;
    background-color: hsla(0, 0%, 85%, 1);
    top: -12px;
    left: 0;
}

.reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 83px 63px;
    justify-content: center;
}

@media (max-width: 1224px) {
    .reviewsHeader {
        flex-direction: column;
        align-items: start;
        gap: 25px;
    }
}

@media (max-width: 1024px) {
    .reviews {
        gap: 48px;
    }

    .reviews > * {
        transform: translate(0);
        height: auto;
    }
}
