.ourSection {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    color: var(--color-light);
    margin-block: 48px 72px;
    padding: 72px 32px 48px 32px;
    gap: 64px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.head p {
    max-width: 320px;
}

.title {
    color: var(--color-light);
    max-width: 640px;
    width: fit-content;
}

.beforeEl {
    position: relative;
}

.beforeEl::before {
    content: '';
    position: absolute;
    right: -30%;
    bottom: 25px;
    width: 64px;
    height: 64px;

    background-image: url('/our-title.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.advantages {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-yellow);
    border-radius: 24px;
    border: 5px dashed var(--color-blue);
    padding: 32px;
    position: relative;
    color: var(--color-dark);
}

.bigCard {
    flex: 2;
    min-width: 430px;
}

.card:nth-child(2) {
    color: var(--color-light);
}

.image {
    border-radius: 16px;
    margin-bottom: 24px;
}

.name {
    max-width: 560px;
    width: 100%;
    margin-bottom: 8px;
}

.description {
    max-width: 560px;
    margin-bottom: 0;
}

.tap {
    margin-top: auto;
    align-self: start;
    margin-bottom: 6px;
}

.num {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

@media (max-width: 1224px) {
    .advantages {
        flex-wrap: wrap;
    }

    .card {
        padding: 24px;
        min-width: 40vw;
    }

    .bigCard {
        min-width: 65vw;
    }
}

@media (max-width: 768px) {
    .ourSection {
        gap: 0;
        margin-block: 24px;
    }

    .titleBlock {
        margin-bottom: 24px;
        align-self: center;
    }

    .advantages {
        flex-direction: column;
        max-width: 500px;
        align-self: center;
        margin-bottom: 32px;
    }

    .head {
        display: contents;
    }

    .head p {
        order: 1;
        align-self: center;
        text-align: center;
    }

    .num {
        top: 29px;
        right: 24px;
        font-size: 24px;
    }

    .image {
        margin-bottom: 16px;
        font-size: 24px;
    }

    .name {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .bigCard .name {
        order: -1;
        margin-bottom: 16px;
    }

    .beforeEl::before {
        width: 32px;
        height: 32px;
        bottom: 16px;
        right: -28%;
    }
}
