.contactSection {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: var(--border-radius-large);
    margin-block: var(--margin-block);
    padding: 72px 32px 48px 32px;
    gap: 64px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 48px;
}

.title {
    display: inline-flex;
    gap: 22px;
    align-items: end;
    text-align: center;
}

.image {
    position: relative;
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-bottom: 12px;
}

.imageImg {
    object-fit: contain;
}

.quote {
    max-width: 320px;
}

.contactBody {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 435px;
    width: 100%;
}

.contactInner {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
}

.notate {
    width: 780px;
}

@media (max-width: 1224px) {
    .notate {
        max-width: 540px;
    }
}

@media (max-width: 1024px) {
    .head {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .quote {
        max-width: none;
        text-align: center;
    }

    .contactBody {
        flex-direction: column;
        align-items: center;
    }

    .contacts {
        order: 1;
        text-align: center;
    }

    .notate {
        max-width: none;
        align-self: center;
        text-align: center;
        text-wrap: wrap;
        max-width: 80vw;
        margin-bottom: 16px;
    }
}

@media (max-width: 768px) {
    .contactSection {
        padding: 24px;
        gap: 48px;
    }
    .image {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 576px) {
    .image {
        width: 36px;
        height: 36px;
    }

    .title h1 {
        font-size: 36px;
    }
}

@media (max-width: 390px) {
    .title {
        gap: 8px;
    }

    .image {
        width: 28px;
        height: 28px;
        margin-bottom: 4px;
    }

    .title h1 {
        font-size: 28px;
    }
}
