.contactSection {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: var(--border-radius-large);
    margin-block: 72px;
    padding: 72px 32px 48px 32px;
    gap: 64px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 48px;
}

.title {
    display: inline-flex;
    gap: 22px;
    align-items: end;
}

.image {
    margin-bottom: 12px;
}

.quote {
    max-width: 320px;
}

.contactBody {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 435px;
    width: 100%;
}

.contactInner {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 900px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form > :last-child {
    width: fit-content;
}

.input {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: var(--font-heading);
    color: var(--color-light);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    box-sizing: border-box;
    padding: 12px;
    border-bottom: 1px solid var(--color-light);
    width: 100%;
}

.input::placeholder {
    font-family: var(--font-heading);
    color: hsla(0, 0%, 100%, 0.7);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.names {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.select {
    color: hsla(0, 0%, 100%, 0.7);
    cursor: pointer;
    background-color: var(--color-dark);
}

.textarea {
    resize: none;
    min-height: 160px;
    height: 100%;
}

.notate {
    width: 780px;
}