.header {
    max-width: 1520px;
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    position: sticky;
    top: 0;
    background-color: var(--color-light);
    z-index: 100;

    border-block: var(--border-dark);
}

.logo {
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

.navMenu {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.navItem {
    border-radius: var(--border-radius-small);
    border: var(--border-light);
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease,
        border 0.4s ease;
}

.navItem:hover {
    background-color: var(--color-hover-light);
    box-shadow: 0 6px 16px #00000014;
    border: var(--border-dark);
}

.navLink {
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
}

.greeting {
    font-family: var(--font-base);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 100%;
    border-radius: 999px;
    background: var(--color-yellow);
    border: var(--border-dark);
    margin: 0;
    align-self: center;
    padding: 12px 24px;
    cursor: pointer;
}

.AuthButtons {
    display: flex;
    gap: 24px;
}

.burgerBtn {
    width: 60px;
    height: 45px;
    padding: 6.5px 14px;
    background-color: var(--color-dark);
    border-radius: 42px;
    cursor: pointer;
    border: none;
    outline: none;
}

@media (max-width: 1024px) {
    .actions,
    .navMenu {
        gap: 24px;
    }

    .AuthButtons {
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .actions {
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 32px;
        height: 100%;
    }

    .navMenu {
        flex-direction: column;
    }

    .navItem p {
        color: var(--color-light);
        font-family: var(--font-base);
        font-weight: 700;
        font-size: 32px;
        line-height: 140%;
    }

    .navItem {
        border: var(--border-dark);
    }

    .AuthButtons {
        margin-left: auto;
        gap: 24px;
    }
}
