.header {
    max-width: 1488px;
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    border-top: 1px solid hsla(0, 0%, 0%, 1);
    border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

.navMenu {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.navItem {
    cursor: pointer;
}

.AuthButtons {
    display: flex;
    gap: 24px;
}