.catalogSection {
    margin-block: var(--margin-block);
    gap: 72px;
    display: flex;
    flex-direction: column;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 16px;
    justify-content: space-between;
}

.sectionTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2c3e50;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px 24px;
}

.button {
    font-family: var(--font-heading);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;

    color: var(--color-dark);
    background-color: var(--color-light);
    border: var(--border-dark);
    border-radius: 100px;
    padding: 12px 24px;

    cursor: pointer;
    background: transparent;
    transition: all 0.4s ease;
}

.button:hover {
    background: var(--color-blue);
    color: var(--color-light);
    border: var(--border-blue);
}

.active {
    background: var(--color-blue);
    color: var(--color-light);
    border: var(--border-blue);
}

.error {
    margin: 0 auto;
    width: fit-content;
    grid-column: 2;
}

.filterBtn {
    position: relative;
    width: 48px;
    height: 48px;

    border: var(--border-dark);
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    aspect-ratio: 1;
}

.filterIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    .productsGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .buttons {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .catalogSection {
        width: 65%;
        align-self: center;
        gap: 24px;
    }

    .buttons {
        gap: 8px;
        width: 95%;
        margin-inline: auto;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .productsGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .productsGrid > * {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .catalogSection {
        width: 100%;
    }
}