.productsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 16px;
    justify-content: space-between;
}

.sectionContainer {
    padding: 30px;
    background: #f8f9fa;
    border-radius: 16px;
    margin-bottom: 20px;
}

.sectionTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2c3e50;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-block: 72px;
}

.button {
    font-family: var(--font-heading);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;

    color: var(--color-dark);
    background-color: var(--color-light);
    border: 1px solid var(--color-dark);
    border-radius: 100px;
    padding: 12px 24px;

    cursor: pointer;
    background: transparent;
    transition: all 0.4s ease;
}

.button:hover {
    background: var(--color-blue);
    color: var(--color-light);
    border: 1px solid var(--color-blue);
}

.active {
    background: var(--color-blue);
    color: var(--color-light);
    border: 1px solid var(--color-blue);
}

.error {
    margin: 0 auto;
    width: fit-content;
    grid-column: 2;
}