.search {
    height: 48px;
    max-width: 174px;
    position: relative;
}

.input {
    width: 100%;
    height: 100%;
    padding-inline: 24px 64px;
    border-radius: 100px;
    border: 1px solid var(--color-dark);
    font-size: 16px;
    font-family: var(--font-heading);
    outline: none;
    position: relative;
}

.input::placeholder {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.image {
    position: absolute;
    top: 12px;
    right: 24px;
}

@media (max-width: 768px) {
    .search {
        max-width: none;
    }
}