.postSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
}

.title {
    text-align: center;
    border-bottom: 1px solid var(--color-dark);
    margin-top: 36px;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 720px;
}

.head {
    padding: 32px;
    border-radius: var(--border-radius-large);
    background-color: var(--color-yellow);
}

.quote {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
}

.author {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.paragraph {
    margin: 0;
    text-wrap: wrap;
}

.bio {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.names {
    display: flex;
    flex-direction: column;
}

.firstName {
    color: var(--color-dark);
}

.role {
    color: var(--color-dark);
    text-transform: none;
    font-weight: 400;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.activity {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.likes,
.comments {
    padding: 4px 8px;
    border: 1px solid var(--color-dark);
    border-radius: 8px;
    width: fit-content;
}

@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        gap: 32px;
    }

    .bio {
        order: 1;
    }

    .activity {
        flex-direction: row;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 32px;
        padding-bottom: 24px;
    }
}