.tourSection {
    display: flex;
    flex-direction: column;
    background-color: var(--color-blue);
    padding-top: 72px;
    border-radius: var(--border-radius-large);
    gap: 32px;
    margin-block: 72px;
}

.explore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
    padding: 0 32px 32px 32px;
}

.title {
    color: var(--color-light);
    max-width: 410px;
    width: fit-content;
}

.beforeEl {
    position: relative;
}

.beforeEl::before {
    content: '';
    position: absolute;
    right: -30%;
    bottom: 4px;
    width: 64px;
    height: 64px;

    background-image: url('/virtual-tour-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.quoteAndBtn {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.paragraph {
    color: var(--color-light);
    max-width: 272px;
}

.videoBlock {
    position: relative;
}

.preview {
    border-radius: var(--border-radius-large);
}

.playBtn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;
    text-align: inherit;

    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    .tourSection {
        margin-block: 24px;
    }

    .explore {
        display: contents;
    }

    .titleBlock, .quoteAndBtn {
        padding: 24px;
    }

    .beforeEl::before {
        bottom: 12px;
    }

    .quoteAndBtn {
        order: 1;
        flex-direction: column;
        align-items: center;
    }

    .paragraph {
        max-width: none;
        text-align: center;
    }

    .preview {
        border-radius: 10%;
    }
}

@media (max-width: 390px) {
    .beforeEl::before {
        bottom: 0px;
        right: -56%;
    }
}