.advantagesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 72px;
    gap: 80px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
}

.advantages {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 24px;
    border-radius: var(--border-radius-large);
    border: 1px solid var(--color-dark);
    flex: 1;
}

.advantageTitle,
.advantageInfo {
    text-align: center;
}

.image {
    width: 180px;
    height: auto;
}

@media (max-width: 1024px) {
    .advantagesSection {
        gap: 32px;
    }

    .advantages {
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantage {
        min-width: 320px;
    }
}

@media (max-width: 768px) {
    .advantage {
        gap: 16px;
    }

    .image {
        width: 120px;
    }
}
