.advantagesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 72px;
    gap: 80px;
}

.title {
    display: inline-flex;
    gap: 16px;
}

.advantages {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 24px;
    border-radius: var(--border-radius-large);
    border: 1px solid var(--color-dark);
    flex: 1;
}

.advantageInfo {
    text-align: center;
}
