.CTAsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    color: var(--color-light);
    margin-block: var(--margin-block);
    padding: 72px 32px;
}

.titleBlock {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.description {
    max-width: 640px;
    text-align: center;
    margin-bottom: 48px;
}

.image {
    width: 240px;
    height: auto;
}

@media (max-width: 768px) {
    .CTAsection {
        padding: 24px;
    }

    .CTAsection > :last-child {
        width: 100%;
    }

    .titleBlock {
        gap: 0px;
    }

    .image {
        margin-block: 8px;
        width: 145px;
    }
}
