.CTAsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    color: var(--color-light);
    margin-block: 72px;
    padding: 72px 32px;
}

.titleBlock {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.description {
    max-width: 640px;
    text-align: center;
    margin-bottom: 48px;
}