.accordion {
    padding: 32px;
    border-radius: var(--border-radius-large);
    border: var(--border-dark);
    cursor: pointer;
    transition: all 0.3s ease;
}

.questionBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question {
    max-width: 390px;
    font-weight: 600;
}

.icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;

    border-radius: 50%;
    border: 2px solid var(--color-dark);
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.answerWrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.35s ease;
}

.answerWrapper > p {
    overflow: hidden;
}

.open {
    grid-template-rows: 1fr;
    padding-top: 16px;
}

.answer {
    max-width: 390px;
}

@media (hover: hover) and (pointer: fine) {
    .acordion:hover {
        background-color: var(--color-hover-light);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    }
}

@media (max-width: 768px) {
    .acordion {
        padding: 24px;
        border-radius: 24px;
    }
}
