.statisticsSection {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-block: var(--margin-block);
    color: var(--color-blue);
}

.statisticsBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 88px 32px;
    background-color: var(--color-yellow);
    border: 5px dashed var(--color-blue);
    border-radius: var(--border-radius-large);
    flex: 1;
}

.info {
    max-width: 670px;
}

.statBlock {
    display: grid;
    grid-template-columns: repeat(2, 296px);
    gap: 32px 24px;
}

.stat {
    padding-block: 8px;
}

.imageWrapper {
    position: relative;
    flex: 1;
    min-height: 595px;
}

.image {
    object-fit: cover;
    border-radius: var(--border-radius-large);
}

@media (max-width: 1024px) {
    .statisticsSection {
        flex-direction: column;
    }

    .statisticsBlock {
        align-items: center;
    }

    .procent, .paragraph, .info  {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .statisticsBlock {
        padding: 32px 24px;
    }

    .statBlock {
        gap: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .stat {
        width: calc(50vw - (16px + 24px + 21px));
    }

    .imageWrapper {
        min-height: 300px;
    }
}